
body {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
  min-height: 100vh;
}

#main {
  font-family: 'Roboto Condensed', sans-serif !important;
  width: 80%;
  margin: 50px auto 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: rgb(182, 1, 152) !important;
}


.footer {
position: absolute;
text-align: center;
bottom: 0;
width: 100%;
height: 60px;
background-color: black;
}

.footer p {
margin-top: 25px;
font-size: 12px;
color: #fff;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > p {
  margin: 0 20px;
}

input {
  padding: 10px 50px;
}

button {
  text-decoration: none;
  background-color: black;
  border: none;
  padding: 10px 30px;
  margin: 40px;
  color: #fff !important;
  font-family: 'Roboto Condensed', sans-serif;
}


/* stars */
.star5_rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
  content: '★★★★★';
}

.star5_rating:after{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */

#rate {
  display: flex;
  gap: 20px;
  align-items: center;
}

#imgs {
  display: flex;
  gap: 40px;
  justify-content: space-around;
}

#star {
  font-size: 50px;
}